@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>
For small businesses in the building industry there exists a "catch 22" in the preliminary / pre-approval process.  The market is price sensitive and a large portion of their profit could be lost in the estimation of the windload.  If buildings are under-engineered then their is a public risk.  Engaging a site surveyor at the preliminary phase is cost prohibitive.   
simPROVAL draws on available data to simplify this process and ensure accurate pricing for the customer, the builder and less rejections for council.
</p>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>